:root {
  --body-bg: black;
  --body-font-color: white;
  --title-font: Arial, Helvetica, sans-serif;
  --title-font-size: 40px;
  --text-font: "Times New Roman", Times, serif;
}
/* html */
body {
  min-height: 100vh;
  background-color: var(--body-bg);
  color: var(--body-font-color);
}
h3 {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  text-align: center;
}
p {
  font-family: var(--text-font);
}

@media (max-width: 1600px) {
  /* body {
    color: yellow;
    background-color: green;
  } */

  :root {
    --body-bg: rgb(152, 4, 4);
    --body-font-color: rgb(20, 2, 2);
    --title-font-size: 30px;
  }
}
